<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'DMS/login.css' %}"/>
    <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
    <title>DMS</title>
</head>


<body>
<div class="container">
    <h1>Enter new password</h1>
    <p>

    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset password</button>
    </form>
</div>
</body>
</html>